<!-- <img alt="" src="" class="img-fluid mt-3" /> -->
<!-- <p class="card-text"></p> -->


<div class="">
  <div class="jumbotron">
    <h1 class="display-4">Junit 5</h1>
    <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
  </div>
  <div class="row m-2">
    <div class="col-sm-3 sticky-top">
      <ul class="list-group" id="list-tab" role="tablist">
        <ng-container *ngFor="let tab of tabs; let i=index">
          <a class="list-group-item list-group-item-action" (click)="selectTab(i, tab)" [class.active]="tab === name">
            {{i+1}}. {{tab}}
          </a>
        </ng-container>
      </ul>
    </div>
    <div class="col-sm-9">
      <tabset #staticTabs>



        <tab heading="{{tabs[0] == name ? name : ''}}">


          <div class="container-fluid pt-3 mt-auto">
            <div class="row mb-5 pb-5">
              <div class="card border-info">

                <div class="list-group" id="list-tab" role="tablist">
                  <div class="card-body text-info">

                    <!-- Block Start-->
                    <div class="card mb-3">

                      <div class="card-body">
                        <p class="card-text">First we need to setup new project, It would be better if we will setup
                          simple Maven project so we will get basic structure of test and src folders.</p>
                      </div>
                    </div>
                    <!-- Block End-->

                    <!-- Block Start-->
                    <div class="card mb-3">
                      <div class="card-header">
                        <strong class="text-success">Add dependency for Jupitor API(Junit5)</strong>
                      </div>
                      <div class="card-body">
                        <pre>
&lt;dependencies>
  &lt;!-- https://mvnrepository.com/artifact/org.junit.jupiter/junit-jupiter-api -->
  &lt;dependency>
    &lt;groupId>org.junit.jupiter&lt;/groupId>
    &lt;artifactId>junit-jupiter-api&lt;/artifactId>
    &lt;version>5.7.0&lt;/version>
    &lt;scope>test&lt;/scope>
  &lt;/dependency>
&lt;/dependencies>
                       </pre>
                      </div>
                    </div>
                    <!-- Block End-->

                    <!-- Block Start-->
                    <div class="card mb-3">
                      <div class="card-header">
                        <strong class="text-success">String Tests</strong>
                      </div>
                      <div class="card-body">
                        <p class="card-text">String is the existing class so we will use this class to learn Junit5.</p>
                        <p class="card-text">Create new test Suit with name StringTest and Junit5. it will generate
                          default code like below.</p>
                        <p class="card-text">Once we run this file we will get Red bar. That indicates something went
                          wrong in unit tests.</p>
                        <pre>
package com.way2p;

import static org.junit.jupiter.api.Assertions.*;

import org.junit.jupiter.api.Test;

class StringTest {{'{'}}

  @Test
  void test() {{'{'}}
    fail("Not yet implemented");
  }

}
                       </pre>
                      </div>
                    </div>
                    <!-- Block End-->



                  </div>
                </div>
              </div>
            </div>
          </div>


        </tab>

        <tab heading="{{tabs[1] == name ? name : ''}}">


          <div class="container-fluid pt-3 mt-auto">
            <div class="row mb-5 pb-5">
              <div class="card border-info">

                <div class="list-group" id="list-tab" role="tablist">
                  <div class="card-body text-info">

                    <!-- Block Start-->
                    <div class="card mb-3">

                      <div class="card-body">
                        <p class="card-text">Let's suppose you want to write the test but checks are missing, checks
                          means assertions. If assertions are missing that would not consider as good test and unit test
                          should be first class citizens.</p>

                        <pre>
package com.way2p;

import static org.junit.jupiter.api.Assertions.*;

import org.junit.jupiter.api.Test;

class StringTest {{'{'}}

	@Test
	void test() {{'{'}}
		//Write test code
		// Invoke method square(2) => CUT(Code Under Test)
		//Checks in place - 4 - Assertions (Without Assertion test would not consider as good test)
	}

}

                          </pre>
                      </div>
                    </div>
                    <!-- Block End-->


                  </div>
                </div>
              </div>
            </div>
          </div>


        </tab>

        <tab heading="{{tabs[2] == name ? name : ''}}">


          <div class="container-fluid pt-3 mt-auto">
            <div class="row mb-5 pb-5">
              <div class="card border-info">

                <div class="list-group" id="list-tab" role="tablist">
                  <div class="card-body text-info">

                    <!-- Block Start-->
                    <div class="card mb-3">

                      <div class="card-body">
                        <pre>
package com.way2p;

import static org.junit.jupiter.api.Assertions.*;

import org.junit.jupiter.api.Test;

class StringTest {{'{'}}

	@Test
	void string_length_basic() {{'{'}}
		int actualLength = "Arif".length();
		assertEquals(4, actualLength);
	}
	
}

                        </pre>
                      </div>
                    </div>
                    <!-- Block End-->


                  </div>
                </div>
              </div>
            </div>
          </div>


        </tab>

        <tab heading="{{tabs[3] == name ? name : ''}}">


          <div class="container-fluid pt-3 mt-auto">
            <div class="row mb-5 pb-5">
              <div class="card border-info">

                <div class="list-group" id="list-tab" role="tablist">
                  <div class="card-body text-info">

                    <!-- Block Start-->
                    <div class="card mb-3">

                      <div class="card-body">
                        <pre>
package com.way2p;

import static org.junit.jupiter.api.Assertions.*;

import org.junit.jupiter.api.Test;

class StringTest {{'{'}}

	@Test()
	void toUpperCase_basic() {{'{'}}
		String str = "Hello World";
		String str2 = null;
		String result = str.toUpperCase();
		assertEquals("HELLO WORLD", result);
		assertNotNull(result);
		assertNull(str2);
	}
	
}

                        </pre>
                      </div>
                    </div>
                    <!-- Block End-->


                  </div>
                </div>
              </div>
            </div>
          </div>


        </tab>

        <tab heading="{{tabs[4] == name ? name : ''}}">


          <div class="container-fluid pt-3 mt-auto">
            <div class="row mb-5 pb-5">
              <div class="card border-info">

                <div class="list-group" id="list-tab" role="tablist">
                  <div class="card-body text-info">

                    <!-- Block Start-->
                    <div class="card mb-3">

                      <div class="card-body">
                        <pre>
package com.way2p;

import static org.junit.jupiter.api.Assertions.*;

import org.junit.jupiter.api.Test;

class StringTest {{'{'}}

	@Test
	void contains_basics() {{'{'}}
		String str = "Test Message";
		boolean result1 = str.contains("Test");
		boolean result2 = str.contains("Test1");
		assertTrue(result1);
		assertFalse(result2);
	}

}

                        </pre>
                      </div>
                    </div>
                    <!-- Block End-->


                  </div>
                </div>
              </div>
            </div>
          </div>


        </tab>

        <tab heading="{{tabs[5] == name ? name : ''}}">


          <div class="container-fluid pt-3 mt-auto">
            <div class="row mb-5 pb-5">
              <div class="card border-info">

                <div class="list-group" id="list-tab" role="tablist">
                  <div class="card-body text-info">

                    <!-- Block Start-->
                    <div class="card mb-3">

                      <div class="card-body">
                        <pre>
package com.way2p;

import static org.junit.jupiter.api.Assertions.*;

import org.junit.jupiter.api.Test;

class StringTest {{'{'}}

  @Test
  void split_basic() {{'{'}}
    String str = "Power of one.";
    String[] actualResult = str.split(" ");
    String[] expectedResult = new String[] {{'{'}}"Power", "of", "one."};
    assertArrayEquals(expectedResult, actualResult);
  }

}

                        </pre>
                      </div>
                    </div>
                    <!-- Block End-->


                  </div>
                </div>
              </div>
            </div>
          </div>


        </tab>

        <tab heading="{{tabs[6] == name ? name : ''}}">


          <div class="container-fluid pt-3 mt-auto">
            <div class="row mb-5 pb-5">
              <div class="card border-info">

                <div class="list-group" id="list-tab" role="tablist">
                  <div class="card-body text-info">

                    <!-- Block Start-->
                    <div class="card mb-3">

                      <div class="card-body">
                        <pre>
package com.way2p;

import static org.junit.jupiter.api.Assertions.*;

import org.junit.jupiter.api.AfterEach;
import org.junit.jupiter.api.BeforeEach;
import org.junit.jupiter.api.Test;
import org.junit.jupiter.api.TestInfo;

class StringTest {{'{'}}
  
  <mark>@BeforeEach // Junit4 we used @Before
  void beforeEach(TestInfo info) {{'{'}}
    System.out.println("Init test data for " + info.getDisplayName());
  }
  
  @AfterEach // Junit4 we used @After
  void afterEach(TestInfo info) {{'{'}}
    System.out.println("Clean up Test Data for " + info.getDisplayName());
  }</mark>

  @Test
  void string_length_basic() {{'{'}}
    int actualLength = "Arif".length();
    assertEquals(4, actualLength);
  }
  
  @Test()
  void toUpperCase_basic() {{'{'}}
    String str = "Hello World";
    String str2 = null;
    String result = str.toUpperCase();
    assertEquals("HELLO WORLD", result);
    assertNotNull(result);
    assertNull(str2);
  }
  
  @Test
  void contains_basics() {{'{'}}
    String str = "Test Message";
    boolean result1 = str.contains("Test");
    boolean result2 = str.contains("Test1");
    assertTrue(result1);
    assertFalse(result2);
  }
  
  
  @Test
  void split_basic() {{'{'}}
    String str = "Power of one.";
    String[] actualResult = str.split(" ");
    String[] expectedResult = new String[] {{'{'}}"Power", "of", "one."};
    assertArrayEquals(expectedResult, actualResult);
  }

}
                        </pre>
                      </div>
                    </div>
                    <!-- Block End-->


                  </div>
                </div>
              </div>
            </div>
          </div>


        </tab>

        <tab heading="{{tabs[7] == name ? name : ''}}">


          <div class="container-fluid pt-3 mt-auto">
            <div class="row mb-5 pb-5">
              <div class="card border-info">

                <div class="list-group" id="list-tab" role="tablist">
                  <div class="card-body text-info">

                    <!-- Block Start-->
                    <div class="card mb-3">

                      <div class="card-body">
                        <pre>
package com.way2p;

import static org.junit.jupiter.api.Assertions.*;

import org.junit.jupiter.api.AfterEach;
import org.junit.jupiter.api.BeforeEach;
import org.junit.jupiter.api.Test;
import org.junit.jupiter.api.TestInfo;

class StringTest {{'{'}}

  <mark>@BeforeAll
	static void beforeAll() {{'{'}}
		System.out.println("Init connection to db");
	}
	
	@AfterAll
	static void afterAll() {{'{'}}
		System.out.println("Close db connection");
	}</mark>
  
  @BeforeEach // Junit4 we used @Before
  void beforeEach(TestInfo info) {{'{'}}
    System.out.println("Init test data for " + info.getDisplayName());
  }
  
  @AfterEach // Junit4 we used @After
  void afterEach(TestInfo info) {{'{'}}
    System.out.println("Clean up Test Data for " + info.getDisplayName());
  }

  @Test
  void string_length_basic() {{'{'}}
    int actualLength = "Arif".length();
    assertEquals(4, actualLength);
  }
  
  @Test()
  void toUpperCase_basic() {{'{'}}
    String str = "Hello World";
    String str2 = null;
    String result = str.toUpperCase();
    assertEquals("HELLO WORLD", result);
    assertNotNull(result);
    assertNull(str2);
  }
  
  @Test
  void contains_basics() {{'{'}}
    String str = "Test Message";
    boolean result1 = str.contains("Test");
    boolean result2 = str.contains("Test1");
    assertTrue(result1);
    assertFalse(result2);
  }
  
  
  @Test
  void split_basic() {{'{'}}
    String str = "Power of one.";
    String[] actualResult = str.split(" ");
    String[] expectedResult = new String[] {{'{'}}"Power", "of", "one."};
    assertArrayEquals(expectedResult, actualResult);
  }

}
                        </pre>
                      </div>
                    </div>
                    <!-- Block End-->


                  </div>
                </div>
              </div>
            </div>
          </div>


        </tab>

        <tab heading="{{tabs[8] == name ? name : ''}}">


          <div class="container-fluid pt-3 mt-auto">
            <div class="row mb-5 pb-5">
              <div class="card border-info">

                <div class="list-group" id="list-tab" role="tablist">
                  <div class="card-body text-info">

                    <!-- Block Start-->
                    <div class="card mb-3">

                      <div class="card-body">
                        <pre>
package com.way2p;

import static org.junit.jupiter.api.Assertions.*;

import org.junit.jupiter.api.AfterEach;
import org.junit.jupiter.api.BeforeEach;
import org.junit.jupiter.api.Test;
import org.junit.jupiter.api.TestInfo;

class StringTest {{'{'}}

  @Test
  void length_Exception() {{'{'}}
    String str = null;
    assertThrows(NullPointerException.class, () ->  {{'{'}}
          str.length();
        });
  }

}
                        </pre>
                      </div>
                    </div>
                    <!-- Block End-->


                  </div>
                </div>
              </div>
            </div>
          </div>


        </tab>

        <tab heading="{{tabs[9] == name ? name : ''}}">


          <div class="container-fluid pt-3 mt-auto">
            <div class="row mb-5 pb-5">
              <div class="card border-info">

                <div class="list-group" id="list-tab" role="tablist">
                  <div class="card-body text-info">

                    <!-- Block Start-->
                    <div class="card mb-3">

                      <div class="card-body">
                        <p class="card-text">In Junit4 we need to use public in each test case but in Junit5 it is not
                          required.</p>
                        <pre>
package com.way2p;

import static org.junit.jupiter.api.Assertions.*;

import org.junit.jupiter.api.DisplayName;
import org.junit.jupiter.api.Test;

class StringTest {{'{'}}
  
  
  @Test
  @DisplayName("It should test the boolean result of contains")
  void contains_basics() {{'{'}}
    String str = "Test Message";
    boolean result1 = str.contains("Test");
    boolean result2 = str.contains("Test1");
    assertTrue(result1);
    assertFalse(result2);
  }
  
  
  @Test
  @DisplayName("It should test the string array")
  void split_basic() {{'{'}}
    String str = "Power of one.";
    String[] actualResult = str.split(" ");
    String[] expectedResult = new String[] {{'{'}}"Power", "of", "one."};
    assertArrayEquals(expectedResult, actualResult);
  }
  
  
  @Test
  @DisplayName("When length is null, throw an exception")
  void length_Exception() {{'{'}}
    String str = null;
    assertThrows(NullPointerException.class, () ->  {{'{'}}
          str.length();
        });
  }

}
                        </pre>
                      </div>
                    </div>
                    <!-- Block End-->


                  </div>
                </div>
              </div>
            </div>
          </div>


        </tab>

        <tab heading="{{tabs[10] == name ? name : ''}}">


          <div class="container-fluid pt-3 mt-auto">
            <div class="row mb-5 pb-5">
              <div class="card border-info">

                <div class="list-group" id="list-tab" role="tablist">
                  <div class="card-body text-info">

                    <!-- Block Start-->
                    <div class="card mb-3">
                      <div class="card-header">
                        pom.xml - need to add dependency
                      </div>
                      <div class="card-body">
                        <pre>
&lt;dependency>
  &lt;groupId>org.junit.jupiter&lt;/groupId>
  &lt;artifactId>junit-jupiter-params&lt;/artifactId>
  &lt;version>5.1.0&lt;/version>
  &lt;scope>test&lt;/scope>
&lt;/dependency>
                        </pre>
                      </div>
                    </div>
                    <!-- Block End-->
                    <!-- Block Start-->
                    <div class="card mb-3">
                      <div class="card-header">
                        Example with Parameterized test
                      </div>
                      <div class="card-body">
                        <pre>
package com.way2p;

import static org.junit.jupiter.api.Assertions.*;

import org.junit.jupiter.api.Test;
import org.junit.jupiter.params.ParameterizedTest;
import org.junit.jupiter.params.provider.ValueSource;

class StringTest {{'{'}}
  
  @Test
  void length_greater_than_zero() {{'{'}}
    assertTrue("ABCD".length() > 0);
    assertTrue("A".length() > 0);
    assertTrue("AB".length() > 0);
    assertTrue("ACF".length() > 0);
  }
  
  
  @ParameterizedTest
  @ValueSource(strings = {{'{'}}"ABCD", "A", "AB", "ACF"})
  void length_greater_than_zero_using_parameterized_test(String str) {{'{'}}
    assertTrue(str.length() > 0);
  }
  
  
}
                        </pre>
                      </div>
                    </div>
                    <!-- Block End-->


                  </div>
                </div>
              </div>
            </div>
          </div>


        </tab>


        <tab heading="{{tabs[11] == name ? name : ''}}">


          <div class="container-fluid pt-3 mt-auto">
            <div class="row mb-5 pb-5">
              <div class="card border-info">

                <div class="list-group" id="list-tab" role="tablist">
                  <div class="card-body text-info">

                    <!-- Block Start-->
                    <div class="card mb-3">
                      <div class="card-header">
                      </div>
                      <div class="card-body">
                        <pre>
package com.way2p;

import static org.junit.jupiter.api.Assertions.*;

import org.junit.jupiter.api.Test;
import org.junit.jupiter.params.ParameterizedTest;
import org.junit.jupiter.params.provider.CsvSource;

class StringTest {{'{'}}
  
  @Test
  void uppercase() {{'{'}}
    assertEquals("ABCD", "abcd".toUpperCase());
    assertEquals("AB", "ab".toUpperCase());
    assertEquals("A", "a".toUpperCase());
  }
  
  
  @ParameterizedTest
  @CsvSource(value = {{'{'}}"abcd, ABCD", "ab, AB", "a, A"})
  void uppercase_parameterized(String word, String capitalizedWord) {{'{'}}
    assertEquals(capitalizedWord, word.toUpperCase());
  }

  @ParameterizedTest
	@CsvSource(value = {{'{'}}"abcd, 4", "ab, 2", "a, 1", "'', 0"})
	void length_parameterized(String word, int length) {{'{'}}
		assertEquals(length, word.length());
	}
  
  
}
                        </pre>
                      </div>
                    </div>
                    <!-- Block End-->


                  </div>
                </div>
              </div>
            </div>
          </div>


        </tab>

        <tab heading="{{tabs[12] == name ? name : ''}}">


          <div class="container-fluid pt-3 mt-auto">
            <div class="row mb-5 pb-5">
              <div class="card border-info">

                <div class="list-group" id="list-tab" role="tablist">
                  <div class="card-body text-info">

                    <!-- Block Start-->
                    <div class="card mb-3">
                      <div class="card-header">
                      </div>
                      <div class="card-body">
                        <pre>
package com.way2p;

import static org.junit.jupiter.api.Assertions.*;

import org.junit.jupiter.api.Test;
import org.junit.jupiter.params.ParameterizedTest;
import org.junit.jupiter.params.provider.CsvSource;

class StringTest {{'{'}}
  
  @Test
  void uppercase() {{'{'}}
    assertEquals("ABCD", "abcd".toUpperCase());
    assertEquals("AB", "ab".toUpperCase());
    assertEquals("A", "a".toUpperCase());
  }
  
  
  <mark>@ParameterizedTest(name = "{{'{'}}0} uppercase is {{'{'}}1}")</mark>
  @CsvSource(value = {{'{'}}"abcd, ABCD", "ab, AB", "a, A"})
  void uppercase_parameterized(String word, String capitalizedWord) {{'{'}}
    assertEquals(capitalizedWord, word.toUpperCase());
  }

  <mark>@ParameterizedTest(name = "{{'{'}}0} length is {{'{'}}1}")</mark>
	@CsvSource(value = {{'{'}}"abcd, 4", "ab, 2", "a, 1", "'', 0"})
	void length_parameterized(String word, int length) {{'{'}}
		assertEquals(length, word.length());
	}
  
  
}
                        </pre>
                      </div>
                    </div>
                    <!-- Block End-->


                  </div>
                </div>
              </div>
            </div>
          </div>


        </tab>

        <tab heading="{{tabs[13] == name ? name : ''}}">


          <div class="container-fluid pt-3 mt-auto">
            <div class="row mb-5 pb-5">
              <div class="card border-info">

                <div class="list-group" id="list-tab" role="tablist">
                  <div class="card-body text-info">
                    <p class="card-text">
                      In some scenario we want to execute the test case multiple times, for example Asyncronous
                      programming, multithreading.
                    </p>
                    <!-- Block Start-->
                    <div class="card mb-3">
                      <div class="card-header">
                      </div>
                      <div class="card-body">
                        <pre>
package com.way2p;

import static org.junit.jupiter.api.Assertions.*;

import org.junit.jupiter.api.RepeatedTest;
import org.junit.jupiter.api.Test;

class StringTest {{'{'}}
  
  @Test
  <mark>@RepeatedTest(value = 10)</mark>
  void uppercase() {{'{'}}
    assertEquals("ABCD", "abcd".toUpperCase());
    assertEquals("AB", "ab".toUpperCase());
    assertEquals("A", "a".toUpperCase());
  }
  
}
                        </pre>
                      </div>
                    </div>
                    <!-- Block End-->


                  </div>
                </div>
              </div>
            </div>
          </div>


        </tab>

        <tab heading="{{tabs[14] == name ? name : ''}}">


          <div class="container-fluid pt-3 mt-auto">
            <div class="row mb-5 pb-5">
              <div class="card border-info">

                <div class="list-group" id="list-tab" role="tablist">
                  <div class="card-body text-info">

                    <!-- Block Start-->
                    <div class="card mb-3">
                      <div class="card-header">
                      </div>
                      <div class="card-body">
                        <pre>
package com.way2p;

import static org.junit.jupiter.api.Assertions.*;

import java.time.Duration;

import org.junit.jupiter.api.Test;

class StringTest {{'{'}}
  
  @Test
  void performanceTest() {{'{'}}
    assertTimeout(Duration.ofSeconds(5), () -> {{'{'}}
      for(int i = 0; i <=  100000; i++) {{'{'}}
        System.out.println(i);
      }
    });
  }
  
}
                        </pre>
                      </div>
                    </div>
                    <!-- Block End-->


                  </div>
                </div>
              </div>
            </div>
          </div>


        </tab>

        <tab heading="{{tabs[15] == name ? name : ''}}">


          <div class="container-fluid pt-3 mt-auto">
            <div class="row mb-5 pb-5">
              <div class="card border-info">

                <div class="list-group" id="list-tab" role="tablist">
                  <div class="card-body text-info">

                    <!-- Block Start-->
                    <div class="card mb-3">
                      <div class="card-header">
                      </div>
                      <div class="card-body">
                        <p class="card-text">
                          Junit 5 - @Disabled annotation
                        </p>
                        <p class="card-text">
                          Junit 4 - @Ignore annotation
                        </p>
                      </div>
                    </div>
                    <!-- Block End-->


                  </div>
                </div>
              </div>
            </div>
          </div>


        </tab>

        <tab heading="{{tabs[16] == name ? name : ''}}">


          <div class="container-fluid pt-3 mt-auto">
            <div class="row mb-5 pb-5">
              <div class="card border-info">

                <div class="list-group" id="list-tab" role="tablist">
                  <div class="card-body text-info">

                    <!-- Block Start-->
                    <div class="card mb-3">
                      <div class="card-header">
                      </div>
                      <div class="card-body">
                        <pre>
 package com.way2p;

import static org.junit.jupiter.api.Assertions.*;

import java.time.Duration;

import org.junit.jupiter.api.DisplayName;
import org.junit.jupiter.api.Nested;
import org.junit.jupiter.api.Test;

class StringTest {{'{'}}
	
	@Test
	void performanceTest() {{'{'}}
		assertTimeout(Duration.ofSeconds(5), () -> {{'{'}}
			for(int i = 0; i <=  100000; i++) {{'{'}}
				System.out.println(i);
			}
		});
	}
	
	
	@Nested
	@DisplayName("Length Related Tests")
	class StringLengthTest {{'{'}}
		
		@Test
		void checkLength() {{'{'}}
			String str = "THis is simple string message";
			assertEquals(29, str.length());
		}
	}
	
}

                        </pre>
                      </div>
                    </div>
                    <!-- Block End-->


                  </div>
                </div>
              </div>
            </div>
          </div>


        </tab>



      </tabset>
    </div>
  </div>
</div>



<br />
<br />
<br />
<br />
<br />
<br />
<br />