<div class="jumbotron">
    <h1 class="display-4">NgRx Effects</h1>
</div>
<div class="row">

    <div class="col-sm-2"></div>
    <div class="col-sm-8">

        <div class="card-body text-info">
            <!-- <h4 class="card-title text-primary"></h4> -->
            <div class="card mb-3">
                <div class="card-header">
                    Introduction
                </div>
                <div class="card-body">
                    In a service-based Angular application, components are responsible for interacting with external
                    resources directly through services. Instead, effects provide a way to interact with those services
                    and isolate them from the components. Effects are where you handle tasks such as fetching data,
                    long-running tasks that produce multiple events, and other external interactions where your
                    components don't need explicit knowledge of these interactions.
                </div>
            </div>


            <div class="card mb-3">
                <div class="card-header">
                    Advantages of Effects
                </div>
                <div class="card-body">
                    
                </div>
            </div>


            <div class="card mb-3">
                <div class="card-header">
                    Application Code without Effects
                </div>
                <div class="card-body">
                    <tabset>
                        <tab heading="App Structure">

                        </tab>
                    </tabset>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    Application Code with Effects
                </div>
                <div class="card-body">
                    <tabset>
                        <tab heading="App Structure">

                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>



<br>
<br>
<br>
<br>
<br>
<br>