<!-- <img alt="" src="" class="img-fluid mt-3" /> -->
<!-- <p class="card-text"></p> -->


<div class="mt-5">
    <div class="jumbotron">
      <h1 class="display-4">Reactive Programming</h1>
      <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
    </div>
    <div class="row m-2">
      <div class="col-sm-3">
        <ul class="list-group" id="list-tab" role="tablist">
          <ng-container *ngFor="let tab of tabs; let i=index">
            <a class="list-group-item list-group-item-action" (click)="selectTab(i, tab)" [class.active]="tab === name">
              {{tab}}
            </a>
          </ng-container>
        </ul>
      </div>
      <div class="col-sm-9">
        <tabset #staticTabs>
  
          <tab heading="{{tabs[0] == name ? name : ''}}">
            <div class="container-fluid pt-3 mt-auto">
              <div class="row mb-5 pb-5">
                <div class="card border-info">
                  
                  <div class="list-group" id="list-tab" role="tablist">
                    <div class="card-body text-info">
  
                      The term Reactive Programming is not new to the programming world.
                      It exists since very long back and very popular in frontend programming language
                      like Angular. Angular uses Rxjs library to convert the data into stream.

                      <br/><br/>

                      The logic is same in all the programming language like Java, Angular.
                      Reactive Programming, we can say asyncronous or non-blocking programming.

                      <br/><br/>

                      Before starting the work on Spring Flux we will start with basic of Project Reactor and then 
                      will start learning Spring Flux.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>

          <tab heading="{{tabs[1] == name ? name : ''}}">
            <div class="container-fluid pt-3 mt-auto">
              <div class="row mb-5 pb-5">
                <div class="card border-info">
                  
                  <div class="list-group" id="list-tab" role="tablist">
                    <div class="card-body text-info">
  
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tab>
   
        </tabset>
      </div>
    </div>
  </div>


 
  
  
  <br />
  <br />
  <br />
