<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Articles</h1>
    <p class="lead"></p>
</div>

<div class="container-fluid">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">On Frontend</h4>
            </div>
            <div class="card-body">
                <ng-container *ngFor="let frontend of frontendBlogs">
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary" [routerLink]="frontend.blogHref" [queryParams]="{ from: 'home'}">
                        {{frontend.blogName}}
                    </button>
                </ng-container>
                <button *ngIf="isAdmin" type="button" class="btn btn-lg btn-block btn-outline-primary" routerLink="/admin" [queryParams]="{ articleType: 'frontend'}">
                    +
                </button>
            </div>
        </div>

        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">On Backend</h4>
            </div>
            <div class="card-body">
                <ng-container *ngFor="let backend of backendBlogs">
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary" [routerLink]="backend.blogHref" [queryParams]="{ from: 'home'}">
                        {{backend.blogName}}
                    </button>
                </ng-container>
                <button *ngIf="isAdmin" type="button" class="btn btn-lg btn-block btn-outline-primary" routerLink="/admin" [queryParams]="{ articleType: 'backend'}">
                    +
                </button>
            </div>
        </div>

    </div>