<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Articles</h1>
    <p class="lead"></p>
</div>

<div class="container-fluid">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">On Frontend</h4>
            </div>
            <div class="card-body">
                <!-- <button type="button" class="btn btn-lg btn-block btn-outline-primary" (click)="webSocketOpen()">
                    Open Web Socket Connection
                </button> -->
                <ng-container *ngFor="let links of staticFrontEndLinks">
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary" [class.btn-outline-success]="(links.url === 'schematics-in-angular' || links.url === 'create-schematics-like-angular-cli') ? true : false" [routerLink]="links.url">
                        {{links.desc}}
                    </button>
                </ng-container>
                
                <ng-container *ngFor="let frontend of frontendBlogs">
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary" [routerLink]="frontend.blogHref" [queryParams]="{ from: 'home'}">
                        {{frontend.blogName}}
                    </button>
                </ng-container>
                
                <button *ngIf="isAdmin" type="button" class="btn btn-lg btn-block btn-outline-primary" routerLink="/modify" [queryParams]="{ articleType: 'frontend'}">
                    +
                </button>
            </div>
        </div>

        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">On Backend</h4>
            </div>
            <div class="card-body">
                <ng-container *ngFor="let backend of backendBlogs">
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary" [routerLink]="backend.blogHref" [queryParams]="{ from: 'home'}">
                        {{backend.blogName}}
                    </button>
                </ng-container>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary" routerLink="/spring-boot-curd-with-mysql">
                    CURD operations with mysql using Spring Boot
                </button>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary" routerLink="/spring-boot-restful-webservices">
                    Spring Boot Restful Web Services
                </button>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary" routerLink="/microservices-with-spring-clouds">
                    Microservices with Spring Clouds
                </button>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary" routerLink="/code-coverage-with-jacoco-and-sonar">
                    Code Coverage with Jacoco and Sonar
                </button>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary" routerLink="/lombok-project">
                    Lombok
                </button>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary" routerLink="/java/junit5">
                    Junit5
                </button>
                <!-- <button type="button" class="btn btn-lg btn-block btn-outline-primary" routerLink="/java-reactive-programming">
                    Spring Webflux
                </button> -->
                <button *ngIf="isAdmin" type="button" class="btn btn-lg btn-block btn-outline-primary" routerLink="/modify" [queryParams]="{ articleType: 'backend'}">
                    +
                </button>
            </div>
        </div>

    </div>